# Nexus configuration for PostgreSQL database
nexus.datastore.enabled=true
nexus.datastore.jdbc.url=jdbc:postgresql://172.18.0.4:5432/nexus_db
nexus.datastore.jdbc.username=nexus_user
nexus.datastore.jdbc.password=your_password
nexus.datastore.jdbc.driverClassName=org.postgresql.Driver
nexus.datastore.jdbc.maxPoolSize=100
nexus.datastore.jdbc.initialPoolSize=10
nexus.datastore.jdbc.connectionTimeout=30000
